/* .home_body {
    width: 100vw;
    height: 100vh;
    background: rgb(32,32,32);
    background: radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(0,0,0,1) 100%, rgba(9,9,121,1) 7459%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
} */